.header-site {
    width: 100%;
    height: 100%;
    grid-area:  1 / 1 / 4 / 2;
    padding: 20px 40px;
    background: black;
    text-align: right;
    font-family: sans-serif;
    color: orange;
}
.header-site__name {
    font-size: 4em;
}
.header-site__profession {
    margin: 30px 0 60px 0;
    padding-bottom: 38px;
    color: white;
    border-bottom: 1px solid orange;
}
.header-site__info-container {
    font-size: 1em;
    line-height: 26px;
    white-space: nowrap;
}
.header-site__profession-info {
    color: orange;
    margin: 40px 0;
}
.header-site__list {
    text-align: right;
    list-style: none;
    color: white;
}
ul, li {
    padding: 0;
}
li a{
 text-decoration: none;
    color: white;
}
