@font-face {
    font-family: 'Inconsolata';
    src: local('Inconsolata'),
    url("../assets/fonts/Inconsolata-Black.ttf");
    font-weight: 300;
}
* {
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 300;
}
body {
    margin: 0 0;
}
.container-page {
    background: red;
    max-width: 1000px;
    max-height:  100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
